<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moviebase.DAL.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moviebase.DAL.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Moviebase.DAL.GlobalSettings>
            <setting name="ApiKey" serializeAs="String">
                <value>54989087497c2801d6469d34c6f42fc7</value>
            </setting>
            <setting name="Reorganize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetPath" serializeAs="String">
                <value>E:\test</value>
            </setting>
            <setting name="RenameTemplate" serializeAs="String">
                <value>%title%.%ext%</value>
            </setting>
            <setting name="DeleteEmptyFolders" serializeAs="String">
                <value>False</value>
            </setting>
        </Moviebase.DAL.GlobalSettings>
    </userSettings>
    <applicationSettings>
        <Moviebase.DAL.GlobalSettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>moviebase.db</value>
            </setting>
        </Moviebase.DAL.GlobalSettings>
    </applicationSettings>
</configuration>